In [1]:
import pandas as pd

In [3]:
tsv_model_mapping = {
    "city": {
        "file": "city.tsv",
        "model": "api.City",
        "fields": {
            #tsv_fields: model_fields
            "name": "name",
        }
    }
}

In [37]:
#convert currency.tsv to valid fixtures json
currency_df = pd.read_csv('../data_lists/currency.tsv', '\t')
currency_df.head()
currency_df.apply(currency_tsv_to_json, axis=1).to_json("currency_fixture.json", orient="records")

In [38]:
#convert country.tsv to valid fixtures json
country_df = pd.read_csv('../data_lists/country.tsv', '\t')
country_df.head()
country_df.apply(countries_tsv_to_json, axis=1).to_json("countries_fixture.json", orient="records")

In [39]:
#convert city.tsv to valid fixtures json
city_df = pd.read_csv('../data_lists/city.tsv', '\t')
city_df.head()
city_df.apply(city_tsv_to_json, axis=1).to_json("city_fixtures.json", orient="records")

In [43]:
#convert unit.tsv to valid fixtures json
unit_df = pd.read_csv('../data_lists/unit.tsv', '\t')
unit_df.head()
unit_df.apply(unit_tsv_to_json, axis=1).to_json("unit_fixtures.json", orient="records")

In [44]:
unit_df.head()

   id xqid name       fullname   format
0   1  VOL   \N           None      NaN
1   2  SQM  sqm  square meters  #,##0.0
2   4  PCT    %       per cent     0.0%
3   5  PRS  ppl        persons        #

In [30]:
def unit_tsv_to_json(row):
    return {
        "model": "api.Unit",
        "pk": row['id'],
        "fields": {
            "name": row['name'],
            "fullname": row['fullname'],
        }
    }

def currency_tsv_to_json(row):
    return {
        "model": "api.Currency",
        "pk": row['id'],
        "fields": {
            "code":row['ISO3'],
            "name": row['name'],
            "symbol": row['symbol']
        }
    }

def countries_tsv_to_json(row):
    return{
        "model": "api.Country",
        "pk": row['id'],
        "fields": {
            "name": row['name'],
            "alpha2_code": row['ISO2'],
            "alpha3_code": row['ISO3'],
            "currency": row['currency_id'],
            "shape": None,
            "point": None,
        }
    }

def city_tsv_to_json(row):
    return {
        "model": "api.City",
        "pk": row['id'],
        "fields": {
            "name": row['name'],
            "country": row['country_id'],
            "point": 'POINT ({lat} {lng})'.format(lat=row['latitude'], lng=row['longitude']),
            "shape": None,
        }
    }

In [24]:
cities = city_df.apply(city_tsv_to_json, axis=1)

In [25]:
cities[0]

{'model': 'api.City',
 'pk': 1,
 'fields': {'name': 'Andorra la Vella',
  'country': 1,
  'point': 'POINT (42.506316999999996 1.521835)',
  'shape': None}}